$primaryBackground: rgb(131, 166, 189);
$listBackground: rgb(177, 140, 192);
$wordColor: salmon;
$definitionColor: rgb(43, 24, 24);
$exampleColor: rgba(23, 23, 235, 0.199);
$primaryText: rgb(65, 64, 64);
$secondaryText: darkgrey;

$primaryFont: Helvetica;

$spacing: 2rem;